.headline {
  width: 80px;
  height: 24px;
  overflow: visible;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 20px;
  letter-spacing: 0.15000000596046448px;
  line-height: 1.2;
  text-align: left;
}
